/*




h1 a[href^='#'],
h2 a[href^='#'],
h3 a[href^='#'],
h4 a[href^='#'],
h5 a[href^='#'],
h6 a[href^='#'] {
  margin-top: -0.25em;
  margin-left: 0.5em;

  color: #eee ;
  font-size: 85%;
  font-weight: normal;
  text-decoration: none;
}


li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
li p:first-of-type {
  margin-top: 0;
}
li p:last-of-type {
  margin-bottom: 0;
}
code a {
  text-decoration: none;
}









footer {
  padding-top: 0.5em;

  border-top: solid 0.5px #ccc;

  font-size: 0.75em;
}

table {
  width: 100%;

  border-collapse: collapse;
}



header {
  padding-left: 1rem;
}
header > h1 {
  margin-left: -1rem;
}

#TOC li.toggleable.toggle-collapsed > a {
  display: block;
}
header.toggleable:before,
.history.toggleable:before,
#TOC li.toggleable:before {
  top: 0;
  left: -1rem;

  color: #ccc;
  font-size: 0.9rem;
}
header.toggleable:before {
  top: 0.25rem;
}

section {
  margin-left: 0.25rem;
  padding: 0 0 0 1rem;
}

section.toggleable {
  border-left: dotted 0.5px #ccc;
}

section.toggleable:before {
  display: inline-block;

  width: 1rem;
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  padding-top: 0.5rem;

  text-align: center;
  vertical-align: bottom;

  content: '▼';

  background: white;
}

section.toggleable h1,
section.toggleable h2,
section.toggleable h3,
section.toggleable h4,
section.toggleable h5,
section.toggleable h6 {
  margin-top: -1.5rem;
  padding-bottom: 0.25rem;

  border-width: 0.25rem;
  border-bottom-style: solid;

  font-size: 1.5rem;
}

body {
  counter-reset: h2;
}

section.toggleable > h2 {
  counter-reset: h3;
}

section.toggleable > h3 {
  counter-reset: h4;
}

section.toggleable > h4 {
  counter-reset: h5;
}

section.toggleable > h5 {
  counter-reset: h6;
}

section.toggleable h2:before {
  content: counter(h2) '. ';
  counter-increment: h2;
}

section.toggleable h3:before {
  content: counter(h2) '.' counter(h3) '. ';
  counter-increment: h3;
}

section.toggleable h4:before {
  content: counter(h2) '.' counter(h3) '.' counter(h4) '. ';
  counter-increment: h4;
}

section.toggleable h5:before {
  content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '. ';
  counter-increment: h5;
}

section.toggleable h6:before {
  content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.' counter(h6) '. ';
  counter-increment: h6;
}

.toggleable.toggle-collapsed:before {
  content: '►';
}

.toggleable.toggle-collapsed > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.psuedo-heading) {
  display: none;
}

section.toggleable h2 {
  border-color: rgba(76, 217, 100, 1);
}

section.toggleable.level2:before {
  color: rgba(76, 217, 100, 1);
}

section.toggleable h3 {
  border-color: rgba(88, 86, 214, 1);
}

section.toggleable.level3:before {
  color: rgba(88, 86, 214, 1);
}

section.toggleable h4 {
  border-color: rgba(255, 149, 0, 1);
}

section.toggleable.level4:before {
  color: rgba(255, 149, 0, 1);
}

@media only screen and (min-width : 12000px) {
  nav#TOC {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;

    overflow: scroll;

    width: 20rem;
    padding: 0.5rem;

    border-left: solid 1px #ccc;
    box-shadow: -2px 2px 10px 0 rgba(0, 0, 0, 0.20);

    font-size: 0.9rem;
  }
}


@media print {
  @page {
    margin: 0.5in;
  }
  body {
    margin: 0;
    padding: 0;

    color: black;
    font-size: 10pt;

    background: none;
  }
  header {
    padding-left: unset;
  }
  header > h1 {
    margin-left: unset;
  }
  section {
    border: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
  h2:before,
  section.level2:before,
  h3:before,
  section.level3:before,
  h4:before,
  section.level4:before,
  h5:before,
  section.level5:before,
  h6:before,
  section.level6:before {
    margin-right: 0;
    margin-left: -0.5rem;
    padding: 0;
    padding-top: 0.25rem;
    padding-right: 0.25rem;

    color: black;
    font-size: inherit;

    background: none;
  }
  h2:before,
  section.level2:before {
    padding-top: 0;
    padding-left: 0.5rem;
  }
  pre,
  code {
    border: none;

    color: inherit;

    background: none;
  }
  code {
    margin: 0;
    padding: 0;
  }
  .toggleable:before,
  .tools,
  button {
    display: none;
  }
  .toggleable.toggle-collapsed > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.pseudo-heading) {
    display: unset;
  }
  a[href*='//']:after {
    font-style: italic;

    content: ' <' attr(href) '>';
  }
  a:link,
  a:visited {
    color: #333 !important;
  }
}



.tools {
  position: fixed;
  top: 1rem;
  right: 1rem;

  width: 10rem;
}

.outdent {
  padding-left: 2em;

  text-indent: -2em;
}
*/
@import url('https://fonts.googleapis.com/css?family=Inconsolata|Raleway|Trykker');

html {
  background: white;
}
body {
  font-family: 'Trykker';
}
h1,
h2,
h3,
h4,
h5,
h6,
.pseudo-heading {
  font-family: 'Raleway';
}
pre,
code {
  font-family: 'Inconsolata', 'Consolas', monospaced;
}
body {
  max-width: 7.5in;
  margin: auto;
  padding: 2rem;

  font-size: 11pt;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;

  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
}
h1 {
  font-size: 2rem;
}
p,
ul,
li,
dl,
table,
blockquote,
pre {
  line-height: 1.65;
}
a {
  color: rgba(0, 122, 255, 1);
}
a:visited {
  color: rgba(88, 86, 214, 1);
}
a code {
  color: inherit;
}

pre,
code {
  padding: 0.25em;

  border: solid 0.5px #ccc;
  border-radius: 0.25em;

  color: rgba(255, 45, 85, 1);
  font-size: 10pt;
}

pre {
  overflow: scroll;

  width: 100%;
  margin: 1em;
  padding: 0.75em;

  line-height: 1.55;
}

code {
  padding: 0.1em 0.35em;

  white-space: nowrap;
}

pre code {
  margin: 0;
  padding: 0;

  border: none;

  white-space: pre;
}

blockquote {
  margin-left: 1em;
  padding: 0 1em;

  border-left: solid 0.25em #ddd;

  color: #999;
  font-style: italic;
}
li blockquote {
  margin-left: 0;
}

blockquote em,
blockquote strong {
  font-weight: bold;
}

blockquote strong {
  text-decoration: underline;
}

hr {
  height: 0.5px;

  border: none;

  background-color: #000;
}

th {
  background-color: #ededed;
}

td,
th {
  padding: 0.25em 0.5em !important;

  border: solid 0.5px #ccc;

  text-align: left;
}

td.numeric {
  text-align: right;
}







section {
  margin-top: 1.5rem;
  margin-left: -0.25rem;
  padding: 0 0 0 1rem;
}
body > section > section {
  /* margin-left: 0; */
}

section.toggleable {
  border-left: dotted 0.5px #aaa;
}
section.toggleable.toggle-collapsed {
  border-left-style: none;
}
section.toggleable:before,
header.toggleable:before {
  display: inline-block;

  width: 1rem;
  margin-top: -1.5rem;
  margin-left: -1.5rem;
  padding-top: 0.5rem;

  text-align: center;
  vertical-align: bottom;

  content: '▼';

  background: white;
}

header.toggleable > h1,
section.toggleable > h2,
section.toggleable > h3,
section.toggleable > h4,
section.toggleable > h5,
section.toggleable > h6,
section.toggleable > .pseudo-heading {
  margin-top: -1.5rem;
  padding-bottom: 0.25rem;

  border-width: 1.5px;
  border-bottom-style: solid;
}
header.toggleable > h1,
section.toggleable > .pseudo-heading {
  border-bottom-style: none;
}
header.toggleable > h1 {
  margin-top: -1.75rem;
}
section.toggleable > .pseudo-heading {
  margin-top: -1.25rem;
}

body {
  counter-reset: h2;
}

section.toggleable > h2 {
  counter-reset: h3;
}

section.toggleable > h3 {
  counter-reset: h4;
}

section.toggleable > h4 {
  counter-reset: h5;
}

section.toggleable > h5 {
  counter-reset: h6;
}

section.toggleable h2:before {
  content: counter(h2) '. ';
  counter-increment: h2;
}

section.toggleable h3:before {
  content: counter(h2) '.' counter(h3) '. ';
  counter-increment: h3;
}

section.toggleable h4:before {
  content: counter(h2) '.' counter(h3) '.' counter(h4) '. ';
  counter-increment: h4;
}

section.toggleable h5:before {
  content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '. ';
  counter-increment: h5;
}

section.toggleable h6:before {
  content: counter(h2) '.' counter(h3) '.' counter(h4) '.' counter(h5) '.' counter(h6) '. ';
  counter-increment: h6;
}

.toggleable.toggle-collapsed:before {
  content: '►';
}

.toggleable.toggle-collapsed > *:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.pseudo-heading) {
  display: none;
}

/*
  Red:       rgba(255, 59, 48, 1)
  Orange:    rgba(255, 149, 0, 1)
  Yellow:    rgba(255, 204, 0, 1)
  Green:     rgba(76, 217, 100, 1)
  Teal Blue: rgba(90, 200, 250, 1)
  Blue:      rgba(0, 122, 255, 1)
  Purple:    rgba(88, 86, 214, 1)
  Pink:      rgba(255, 45, 85, 1)
*/

section.toggleable h2 {
  border-color: rgba(76, 217, 100, 1);
}

section.toggleable.level2:before {
  color: rgba(76, 217, 100, 1);
}

section.toggleable h3 {
  border-color: rgba(88, 86, 214, 1);
}

section.toggleable.level3:before {
  color: rgba(88, 86, 214, 1);
}

section.toggleable h4 {
  border-color: rgba(255, 149, 0, 1);
}

section.toggleable.level4:before {
  color: rgba(255, 149, 0, 1);
}

section.toggleable h5 {
  border-color: rgba(0, 122, 255, 1);
}

section.toggleable.level5:before {
  color: rgba(0, 122, 255, 1);
}













.history > ul {
  padding-left: 0;

  list-style: none;
}

.history dt {
  margin-top: 0.5em;

  font-weight: bold;
}
.history dd {
  margin-top: 0.5em;
  margin-left: 0;
}
.history tbody td {
  vertical-align: top;
}
.history tbody td:first-child {
  white-space: nowrap;
}


nav#TOC ul {
  padding-left: 0.75rem;

  list-style: none;
}

nav#TOC ul {
  padding-left: 0;
}
nav#TOC ul ul {
  padding-left: 0.75em;
}
nav#TOC li {
  margin: 0;
}


@media print {
  @page {
    margin: 0.5in;
  }
  body {
    margin: 0;
    padding: 0;

    color: black;
    font-size: 10pt;

    background: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }
  pre,
  code {
    border: none;

    color: inherit;

    background: none;
  }
  code {
    margin: 0;
    padding: 0;
  }
  a[href*='//']:after {
    font-style: italic;

    content: ' <' attr(href) '>';
  }
  a:link,
  a:visited {
    color: #333 !important;
  }
  section {
    margin-left: 0 !important;
    padding-left: 0 !important;
  }
  section.toggleable {
    border-left-style: none;
  }
  section.toggleable:before,
  header.toggleable:before {
    display: none;
  }
  header.toggleable > h1,
  section.toggleable > h2,
  section.toggleable > h3,
  section.toggleable > h4,
  section.toggleable > h5,
  section.toggleable > h6,
  section.toggleable > .pseudo-heading {
    margin-top: unset;

    border-bottom-style: none;
  }
}
